@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{<body style="background-color:@Model.color;">
    <h1>Car Model: @Model.Model</h1>
    <h1>Car Year: @Model.Year</h1>
   </body>
}
